@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Goblin+One&family=Inter:wght@200;400;500;600;700;800;900&family=Metamorphous&family=Noto+Naskh+Arabic:wght@400;500&family=Poppins:wght@200;400;700&family=Scheherazade+New:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;